<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mistersev7n.csm117_project">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FeedbackActivity"
            android:label="Feedback"
            android:parentActivityName=".MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".TimerActivity"
            android:label="Timer" />
        <activity
            android:name=".QuizzActivity"
            android:label="Quiz"
            android:parentActivityName=".FeedbackActivity" />
        <activity
            android:name=".QuizProfActivity"
            android:label="Quizz"
            android:parentActivityName=".FeedbackResultsActivity" />
        <activity
            android:name=".SessionActivity"
            android:label="Session"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".ResultsActivity"
            android:label="Quiz Results" />
        <activity
            android:name=".FeedbackResultsActivity"
            android:label="Feedback Results" />
        <activity
            android:name=".Student_Quiz"
            android:label="Quiz"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CreateSessionActivity"
            android:label="Create Session"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".profSessionChoice" />

        <activity android:name=".profEnterSession"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>


        <activity android:name=".QuizList"/>
        <activity android:name=".Student_Quizlist"/>
    </application>

</manifest>